body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
* {
  padding: 0px;
  margin: 0px;
  box-sizing: "border-box";
}
.nav .cartBadge[data-count]:after {
  content: attr(data-count);
  position: absolute;
  top: 5px;
  padding: 2px;
  right: 55px;
  font-size: 10px;
  min-width: 18px;
  aspect-ratio: 1/1;
  border-radius: 50%;
  text-align: center;
  background: #fff;
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.201);
  color: #000;
}
.nav .navIcon {
  cursor: pointer;
}
